/*主体内容样式*/

#content {
	margin: 0px auto;
	width: 1170px;
}


.pro_detail {
	width: 1170px;
	height: auto;
	overflow: hidden;
	text-align: center;
}





/* 评分css */

.rating {
	width: 80px;
	height: 16px;
	margin: 0 auto;
	padding: 0;
	list-style: none;
	clear: both;
	position: relative;
	background: url(../images/star-matrix.gif) no-repeat 0 0;
}

.nostar {
	background-position: 0 0
}

.onestar {
	background-position: 0 -16px
}

.twostar {
	background-position: 0 -32px
}

.threestar {
	background-position: 0 -48px
}

.fourstar {
	background-position: 0 -64px
}

.fivestar {
	background-position: 0 -80px
}

ul.rating li {
	cursor: pointer;
	float: left;
	text-indent: -999em;
}

ul.rating li a {
	position: absolute;
	left: 0;
	top: 0;
	width: 16px;
	height: 16px;
	text-decoration: none;
	z-index: 200;
}

ul.rating li.one a {
	left: 0
}

ul.rating li.two a {
	left: 16px;
}

ul.rating li.three a {
	left: 32px;
}

ul.rating li.four a {
	left: 48px;
}

ul.rating li.five a {
	left: 64px;
}

ul.rating li a:hover {
	z-index: 2;
	width: 80px;
	height: 16px;
	overflow: hidden;
	left: 0;
	background: url(../images/star-matrix.gif) no-repeat 0 0
}

ul.rating li.one a:hover {
	background-position: 0 -96px;
}

ul.rating li.two a:hover {
	background-position: 0 -112px;
}

ul.rating li.three a:hover {
	background-position: 0 -128px
}

ul.rating li.four a:hover {
	background-position: 0 -144px
}

ul.rating li.five a:hover {
	background-position: 0 -160px
}


/*jQzoom*/

div.zoomdiv {
	z-index: 999;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 200px;
	height: 200px;
	background: #ffffff;
	border: 1px solid #CCCCCC;
	display: none;
	text-align: center;
	overflow: hidden;
}

div.jqZoomPup {
	z-index: 999;
	visibility: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 50px;
	height: 50px;
	border: 1px solid #aaa;
	;
	opacity: 0.5;
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	filter: alpha(Opacity=50);
}